Repository manulera/OpenCloning_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, httpx-import-check, primer3-import-check

nbstripout:
  name: nbstripout with keep-output
  entry: 'python -m nbstripout --keep-output $@
  
    '
  language: system

httpx-import-check:
  name: httpx-import-check
  entry: python scripts/check_httpx_imports.py
  language: system

primer3-import-check:
  name: primer3-import-check
  entry: python scripts/check_primer3_imports.py
  language: system

closes https://github.com/manulera/OpenCloning/issues/69
  .env.serve-frontend
  packages/opencloning/src/opencloning/app_settings.py
  packages/opencloning/src/opencloning/main.py
  packages/opencloning/tests/test_app_settings.py
  packages/opencloning/tests/test_env_configuration.py
Due: httpx-import-check, primer3-import-check

run tests in read-only container
  .github/workflows/ci.yml
  README.md
Due: none

run tests in read-only container
  .github/workflows/ci.yml
  docker/opencloning.Dockerfile
Due: none

run tests in read-only container
  .github/workflows/ci.yml
Due: none

fix testing in read-only container
  docker/opencloning.Dockerfile
  packages/opencloning/src/opencloning/utils.py
Due: httpx-import-check, primer3-import-check

simplify testing
  packages/opencloning/src/opencloning/utils.py
  packages/opencloning/tests/test_env_configuration.py
  packages/opencloning/tests/test_stub_route.py
Due: httpx-import-check, primer3-import-check

Build frontend config env vars + run tests on read-only container (#436)
  .env.serve-frontend
  .github/workflows/ci.yml
  README.md
  docker/opencloning.Dockerfile
  packages/opencloning/src/opencloning/app_settings.py
  packages/opencloning/src/opencloning/main.py
  packages/opencloning/src/opencloning/utils.py
  packages/opencloning/tests/test_app_settings.py
  packages/opencloning/tests/test_env_configuration.py
  packages/opencloning/tests/test_stub_route.py
Due: httpx-import-check, primer3-import-check

update pydna deps, fixing https://github.com/manulera/OpenCloning/issues/68
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

update pydna deps, fixing https://github.com/manulera/OpenCloning/issues/68 (#438)
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

update pydna deps to the correct revision, fixing https://github.com/manulera/OpenCloning/issues/68
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

update pydna deps to the correct revision, fixing https://github.com/manulera/OpenCloning/issues/68 (#439)
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

update pydna and tests
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  packages/opencloning/tests/test_endpoints_assembly.py
  uv.lock
Due: httpx-import-check

update recombinase endpoint
  packages/opencloning/src/opencloning/endpoints/assembly.py
  packages/opencloning/tests/test_endpoints_assembly.py
Due: httpx-import-check, primer3-import-check

Update pydna to support inversion assemblies + add recombinase_assembly to endpoint with `input_contains_genome` option (#440)
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  packages/opencloning/src/opencloning/endpoints/assembly.py
  packages/opencloning/tests/test_endpoints_assembly.py
  uv.lock
Due: httpx-import-check, primer3-import-check

change dependency pinning
  README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
Due: none

change dependency pinning (#442)
  README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
Due: none

change dependency pinning
  README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

update deps due to dependabot alerts
  packages/opencloning/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Change dependency pinning (#443)
  README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

warning on partial digestion, related to https://github.com/pydna-group/pydna/pull/602
  packages/opencloning/src/opencloning/endpoints/assembly.py
  packages/opencloning/tests/test_endpoints_assembly.py
Due: httpx-import-check, primer3-import-check

fix ziqiang test relying on positional arguments on endpoint
  packages/opencloning/src/opencloning/batch_cloning/ziqiang_et_al2024/__init__.py
Due: httpx-import-check, primer3-import-check

Warning on partial digestion (#444)
  packages/opencloning/src/opencloning/batch_cloning/ziqiang_et_al2024/__init__.py
  packages/opencloning/src/opencloning/endpoints/assembly.py
  packages/opencloning/tests/test_endpoints_assembly.py
Due: httpx-import-check, primer3-import-check

pin the right pydna
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

pin the right pydna (#445)
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

fix database config
  .gitignore
  packages/opencloning-db/src/opencloning_db/config.py
Due: httpx-import-check, primer3-import-check

fix database config (#446)
  .gitignore
  packages/opencloning-db/src/opencloning_db/config.py
Due: httpx-import-check, primer3-import-check

fix pyproject etc. for opencloning-db
  README.md
  packages/opencloning-db/README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

mark certain tests as flaky
  packages/opencloning/tests/test_endpoints_external_import.py
Due: httpx-import-check

update Dockerfile to copy readme, required to install with updated pyproject
  docker/opencloning.Dockerfile
Due: none

mark a few more tests as flaky
  packages/opencloning/tests/test_ncbi_requests.py
Due: httpx-import-check

mark a few more tests as flaky
  packages/opencloning/tests/test_endpoints_external_import.py
Due: httpx-import-check

Fix pyproject opencloning db (#447)
  README.md
  docker/opencloning.Dockerfile
  packages/opencloning-db/README.md
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  packages/opencloning/tests/test_endpoints_external_import.py
  packages/opencloning/tests/test_ncbi_requests.py
  uv.lock
Due: httpx-import-check

synth endpoint working
  ase1_cerevisiae.fasta
  domestication_response.html
  gbraid_synth.py
Due: httpx-import-check, primer3-import-check

working on both methods
  domestication_protocol_response.html
  domestication_response.html
  gb_file.gbk
  gbraid_synth.py
  pUPD2.gb
Due: httpx-import-check, primer3-import-check

add error handling
  cloning_strategy.json
  gbraid_synth.py
Due: httpx-import-check, primer3-import-check

improve error handling
  gbraid_synth.py
Due: httpx-import-check, primer3-import-check

clean up and working with annotation
  cloning_strategy.json
  gbraid_synth.py
Due: httpx-import-check, primer3-import-check

test passing
  cloning_strategy.json
  packages/opencloning/src/opencloning/app_settings.py
  packages/opencloning/src/opencloning/batch_cloning/domesticate/__init__.py
  packages/opencloning/src/opencloning/main.py
  packages/opencloning/tests/test_endpoints_batch_cloning.py
  packages/opencloning/tests/test_files/ase1_cerevisiae.fasta
Due: httpx-import-check, primer3-import-check

improve and test validation
  packages/opencloning/src/opencloning/batch_cloning/domesticate/__init__.py
  packages/opencloning/tests/test_endpoints_batch_cloning.py
Due: httpx-import-check, primer3-import-check

Path conditions:
  nbstripout: any of: \.ipynb$, but not: tests/
  httpx-import-check: any of: \.py$, but not: (?x)^(
    tests/.*|
    scripts/.*|
)$

  primer3-import-check: any of: \.py$, but not: tests/
