Repository manulera/OpenCloning_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, httpx-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  # Hook to remove metadata changes from notebooks to avoid diff contamination
  - repo: local
    hooks:
      - id: nbstripout
        name: nbstripout with keep-output
        entry: |
          python -m nbstripout --keep-output $@
        language: system
        files: \.ipynb$
        exclude: tests/
  # Hook to ensure that httpx is only imported in the httpClient.py file
  - repo: local
    hooks:
      - id: httpx-import-check
        name: httpx-import-check
        entry: python scripts/check_httpx_imports.py
        language: system
        files: \.py$
        exclude: tests/

update pydna dep (#349)
  poetry.lock
  pyproject.toml
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

fix errors of scripting example
  examples/scripting/example.ipynb
  examples/scripting/final_strategy.json
  examples/scripting/first_strategy.json
  examples/scripting/second_strategy.json
  src/opencloning/batch_cloning/EBIC/example.py
  src/opencloning/batch_cloning/pombe/pombe_clone.py
Due: nbstripout, httpx-import-check

fix errors of scripting example (#354)
  examples/scripting/example.ipynb
  examples/scripting/final_strategy.json
  examples/scripting/first_strategy.json
  examples/scripting/second_strategy.json
  src/opencloning/batch_cloning/EBIC/example.py
  src/opencloning/batch_cloning/pombe/pombe_clone.py
Due: nbstripout, httpx-import-check

add allowed_mismatches to minimal_annealing in PCR + reduced default value of minimal_annealing
  src/opencloning/endpoints/assembly.py
Due: httpx-import-check

add allowed_mismatches to minimal_annealing in PCR + reduced default value of minimal_annealing (#355)
  src/opencloning/endpoints/assembly.py
Due: httpx-import-check

add OPENCLONING_VERSION env var to /version endpoint
  src/opencloning/endpoints/other.py
  tests/test_endpoints_other.py
Due: httpx-import-check

add OPENCLONING_VERSION env var to /version endpoint (#356)
  src/opencloning/endpoints/other.py
  tests/test_endpoints_other.py
Due: httpx-import-check

add Open DNA Collections, closes #357
  poetry.lock
  pyproject.toml
  src/opencloning/app_settings.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/http_client.py
  src/opencloning/pydantic_models.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

fix model version in test file
  tests/test_files/homologous_recombination.json
Due: none

Add Open DNA Collections (#358)
  poetry.lock
  pyproject.toml
  src/opencloning/app_settings.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/http_client.py
  src/opencloning/pydantic_models.py
  tests/test_endpoints_external_import.py
  tests/test_files/homologous_recombination.json
Due: httpx-import-check

Remove debug print in AllowedExternalUrlsTransport
  src/opencloning/http_client.py
Due: httpx-import-check

Remove debug print in AllowedExternalUrlsTransport (#359)
  src/opencloning/http_client.py
Due: httpx-import-check

fix NCBI tests
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

add example of the URL in comment
  src/opencloning/ncbi_requests.py
Due: httpx-import-check

Fix NCBI tests (#360)
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

WIP
  src/opencloning/batch_cloning/EBIC/__init__.py
  src/opencloning/batch_cloning/EBIC/barcode.gb
  src/opencloning/batch_cloning/EBIC/common_plasmid.gb
  src/opencloning/batch_cloning/EBIC/example.py
  src/opencloning/batch_cloning/EBIC/primer_design_settings.py
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/primer_design.py
Due: httpx-import-check

WIP
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer_design.py
Due: httpx-import-check

add settings to endpoints, ebic missing
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer_design.py
Due: httpx-import-check

gather primer3 functions in single file + add tests
  .pre-commit-config.yaml
  scripts/check_primer3_imports.py
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer3_functions.py
  src/opencloning/primer_design.py
  tests/test_endpoints_primer_design.py
  tests/test_primer_design.py
Due: httpx-import-check

fix docker action
  .github/workflows/ci.yml
Due: none

fix docker action (#362)
  .github/workflows/ci.yml
Due: none

fix docker action (#363)
  .github/workflows/ci.yml
Due: none

fix docker action (#364)
  .github/workflows/ci.yml
Due: none

Add global primer settings + extend EBIC primer design with more parameters (#361)
  .pre-commit-config.yaml
  scripts/check_primer3_imports.py
  src/opencloning/batch_cloning/EBIC/__init__.py
  src/opencloning/batch_cloning/EBIC/barcode.gb
  src/opencloning/batch_cloning/EBIC/common_plasmid.gb
  src/opencloning/batch_cloning/EBIC/example.py
  src/opencloning/batch_cloning/EBIC/primer_design_settings.py
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer3_functions.py
  src/opencloning/primer_design.py
  tests/test_endpoints_primer_design.py
  tests/test_primer_design.py
Due: httpx-import-check

add extra options to EBIC endpoint
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/primer_design.py
Due: httpx-import-check

fix tests
  src/opencloning/ebic/primer_design.py
  tests/test_endpoints_primer_design.py
  tests/test_primer_design.py
Due: httpx-import-check

correct usage of default_factory
  src/opencloning/endpoints/primer_design.py
Due: httpx-import-check

improve function typing
  src/opencloning/primer3_functions.py
Due: httpx-import-check

Update EBIC primer design with options (#365)
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer3_functions.py
  tests/test_endpoints_primer_design.py
  tests/test_primer_design.py
Due: httpx-import-check

all tests passing with new version
  README.md
  poetry.lock
  pyproject.toml
  tests/test_endpoints_assembly.py
Due: none

Adapt PCR
  poetry.lock
  pyproject.toml
  src/opencloning/endpoints/assembly.py
  src/opencloning/temp_functions.py
Due: httpx-import-check

simplify validation
  src/opencloning/endpoints/assembly.py
  tests/test_endpoints_assembly.py
Due: httpx-import-check

add gateway
  dummy.py
  src/opencloning/endpoints/assembly.py
  tests/test_endpoints_assembly.py
Due: httpx-import-check

add homologous rec
  src/opencloning/endpoints/assembly.py
  tests/test_endpoints_assembly.py
Due: httpx-import-check

started with ligation + bring together product handling for cloning endpoints
  poetry.lock
  pyproject.toml
  src/opencloning/endpoints/assembly.py
  src/opencloning/endpoints/endpoint_utils.py
Due: httpx-import-check

all assemblies switched
  dummy.py
  src/opencloning/endpoints/assembly.py
  src/opencloning/temp_functions.py
  tests/test_endpoints_assembly.py
Due: httpx-import-check
