Repository manulera/OpenCloning_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, httpx-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  # Hook to remove metadata changes from notebooks to avoid diff contamination
  - repo: local
    hooks:
      - id: nbstripout
        name: nbstripout with keep-output
        entry: |
          python -m nbstripout --keep-output $@
        language: system
        files: \.ipynb$
        exclude: tests/
  # Hook to ensure that httpx is only imported in the httpClient.py file
  - repo: local
    hooks:
      - id: httpx-import-check
        name: httpx-import-check
        entry: python scripts/check_httpx_imports.py
        language: system
        files: \.py$
        exclude: tests/

Adapt PCR
  poetry.lock
  pyproject.toml
  src/opencloning/endpoints/assembly.py
  src/opencloning/temp_functions.py
Due: httpx-import-check

adapt ligation
  src/opencloning/endpoints/assembly.py
Due: httpx-import-check

add gibson assembly
  src/opencloning/endpoints/assembly.py
Due: httpx-import-check

all tests passing with new version
  README.md
  poetry.lock
  pyproject.toml
  tests/test_endpoints_assembly.py
Due: none

add restriction-ligation
  src/opencloning/endpoints/assembly.py
  src/opencloning/endpoints/endpoint_utils.py
Due: httpx-import-check

remove unused code
  src/opencloning/cre_lox.py
  src/opencloning/dna_functions.py
  src/opencloning/dna_utils.py
  src/opencloning/endpoints/annotation.py
  src/opencloning/endpoints/assembly.py
  src/opencloning/gateway.py
  tests/test_cre_lox.py
  tests/test_dna_functions.py
  tests/test_dna_utils.py
  tests/test_endpoints_assembly.py
  tests/test_gateway.py
Due: httpx-import-check

add exception handling to minimal_assembly_overlap
  src/opencloning/temp_functions.py
Due: httpx-import-check

remove more code
  src/opencloning/pydantic_models.py
  tests/test_endpoints_primer_design.py
  tests/test_pydantic_models.py
Due: httpx-import-check

rename chosen_source to completed_source
  src/opencloning/endpoints/assembly.py
  src/opencloning/endpoints/endpoint_utils.py
Due: httpx-import-check

add cuts and remove lots of dependency on pydantic overwritess
  examples/jupyter-notebooks/RSE_example.ipynb
  examples/jupyter-notebooks/ase1.gb
  examples/jupyter-notebooks/crispr.ipynb
  examples/jupyter-notebooks/images/assembly.png
  examples/jupyter-notebooks/images/weird_assembly.png
  examples/jupyter-notebooks/new_assemblies.ipynb
  examples/jupyter-notebooks/pydantic_fastAPI_behaviour.ipynb
  examples/jupyter-notebooks/pydna_behaviour.ipynb
  poetry.lock
  pyproject.toml
  src/opencloning/batch_cloning/ziqiang_et_al2024/__init__.py
  src/opencloning/dna_functions.py
  src/opencloning/ebic/primer_design.py
  src/opencloning/endpoints/annotation.py
  src/opencloning/endpoints/endpoint_utils.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/endpoints/no_assembly.py
  src/opencloning/endpoints/no_input.py
  src/opencloning/endpoints/other.py
  src/opencloning/endpoints/primer_design.py
  src/opencloning/primer_design.py
  src/opencloning/pydantic_models.py
  src/opencloning/temp_functions.py
  tests/test_endpoints_annotation.py
  tests/test_endpoints_assembly.py
  tests/test_endpoints_batch_cloning.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_assembly.py
  tests/test_endpoints_no_input.py
  tests/test_endpoints_other.py
  tests/test_endpoints_primer_design.py
  tests/test_files/homologous_recombination.json
  tests/test_primer_design.py
  tests/test_pydantic_models.py
  tests/test_stub_route.py
Due: nbstripout, httpx-import-check

remove some extra imports
  src/opencloning/pydantic_models.py
Due: httpx-import-check

remove more code
  src/opencloning/batch_cloning/pombe/pombe_clone.py
  src/opencloning/batch_cloning/pombe/pombe_summary.py
  src/opencloning/bug_fixing/backend_v0_3.py
  src/opencloning/pydantic_models.py
  tests/test_pydantic_models.py
Due: httpx-import-check

update to latest pydna release + remove seguid error
  poetry.lock
  pyproject.toml
Due: none

fix pombe endpoint
  src/opencloning/batch_cloning/pombe/__init__.py
  src/opencloning/batch_cloning/pombe/pombe_summary.py
Due: httpx-import-check

closes #372
  poetry.lock
  pyproject.toml
Due: none

update schema_version
  tests/test_files/homologous_recombination.json
Due: none

update starlette to fix vulns
  poetry.lock
Due: none

Update opencloning-linkml to add migration to remove `output` field which was incorrectly set in the frontend in `UploadedFileSource` (#373)
  poetry.lock
  pyproject.toml
  tests/test_files/homologous_recombination.json
Due: none

update to latest pydna
  poetry.lock
  pyproject.toml
Due: none

update to latest pydna (#374)
  poetry.lock
  pyproject.toml
Due: none

wip towards simplifying import of external seqs
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
Due: httpx-import-check

update scripting docs
  README.md
  examples/scripting/README.md
  examples/scripting/example.ipynb
  examples/scripting/final_strategy.json
  examples/scripting/final_strategy.png
  examples/scripting/first_strategy.json
  examples/scripting/first_strategy.png
  examples/scripting/pFA6a-hphMX6.gb
  examples/scripting/second_strategy.json
  examples/scripting/second_strategy.png
Due: nbstripout

update scripting docs (#375)
  README.md
  examples/scripting/README.md
  examples/scripting/example.ipynb
  examples/scripting/final_strategy.json
  examples/scripting/final_strategy.png
  examples/scripting/first_strategy.json
  examples/scripting/first_strategy.png
  examples/scripting/pFA6a-hphMX6.gb
  examples/scripting/second_strategy.json
  examples/scripting/second_strategy.png
Due: nbstripout

update readme
  README.md
Due: none

update readme (#376)
  README.md
Due: none

better error handling NCBI down
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

fix test
  tests/test_ncbi_requests.py
Due: none

return 503 if NCBI fails
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

fix test
  src/opencloning/ncbi_requests.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

Better error handling NCBI down (#377)
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

testing addgene api
  src/opencloning/addgene_api.py
  src/opencloning/app_settings.py
Due: httpx-import-check

WIP
  .github/workflows/ci.yml
  src/opencloning/addgene_api.py
Due: httpx-import-check

WIP
  src/opencloning/addgene_api.py
Due: httpx-import-check

update pydna
  poetry.lock
  pyproject.toml
Due: none

better addgene
  poetry.lock
  pyproject.toml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

add oligo hybridization and improve common funciton, SEVA tests weirdly failing
  src/opencloning/endpoints/assembly.py
  src/opencloning/endpoints/endpoint_utils.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/endpoints/no_assembly.py
  src/opencloning/endpoints/no_input.py
Due: httpx-import-check

update SEVA plasmids
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  scripts/update_catalogs.py
  src/opencloning/catalogs/readme.txt
  src/opencloning/catalogs/seva.tsv
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

test SEVA plasmid that does not have url in data.js
  tests/test_endpoints_external_import.py
Due: none
