Repository manulera/OpenCloning_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, httpx-import-check, primer3-import-check

nbstripout:
  name: nbstripout with keep-output
  entry: 'python -m nbstripout --keep-output $@
  
    '
  language: system

httpx-import-check:
  name: httpx-import-check
  entry: python scripts/check_httpx_imports.py
  language: system

primer3-import-check:
  name: primer3-import-check
  entry: python scripts/check_primer3_imports.py
  language: system

update deps
  poetry.lock
  pyproject.toml
Due: none

Fix fresh install tests: wrap CORSMiddleware at outermost ASGI level (#425)
  poetry.lock
  pyproject.toml
  src/opencloning/api_config_utils.py
  src/opencloning/main.py
  tests/test_api_common.py
  tests/test_endpoints_annotation.py
  tests/test_endpoints_assembly.py
  tests/test_endpoints_batch_cloning.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_assembly.py
  tests/test_endpoints_no_input.py
  tests/test_endpoints_other.py
  tests/test_endpoints_primer_design.py
  tests/test_env_configuration.py
  tests/test_stub_route.py
Due: httpx-import-check, primer3-import-check

update pydna
  poetry.lock
  pyproject.toml
Due: none

update pydna (#426)
  poetry.lock
  pyproject.toml
Due: none

update pydna (#427)
  poetry.lock
  pyproject.toml
Due: none

first version working
  .github/workflows/ci.yml
  README.md
  pyproject.toml
  src/opencloning/app_settings.py
  src/opencloning/dna_functions.py
  tests/test_app_settings.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check, primer3-import-check

update poetry.lock
  poetry.lock
Due: none

tests passing
  src/opencloning/dna_functions.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check, primer3-import-check

fix app settings tests
  src/opencloning/dna_functions.py
  tests/test_app_settings.py
Due: httpx-import-check, primer3-import-check

fix monkeypatch
  tests/test_app_settings.py
Due: none

improve coverage
  src/opencloning/dna_functions.py
Due: httpx-import-check, primer3-import-check

Addgene login (#429)
  .github/workflows/ci.yml
  README.md
  poetry.lock
  pyproject.toml
  src/opencloning/app_settings.py
  src/opencloning/dna_functions.py
  tests/test_app_settings.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check, primer3-import-check

update lock file
  poetry.lock
Due: none

Update deps (#430)
  poetry.lock
  pyproject.toml
Due: none

pin current versions of uvicorn, fastapi and python-multipart
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

add comment to pyproject
  pyproject.toml
Due: none

fix tests
  packages/opencloning/tests/test_syntax.py
Due: httpx-import-check

fix docker testing
  .github/workflows/ci.yml
Due: none

small fixes
  LICENSE
  codecov.yml
Due: none

add deptry to prevent cross-package imports
  .pre-commit-config.yaml
  README.md
  TODO.md
  packages/opencloning/pyproject.toml
  packages/opencloning/src/opencloning/endpoints/external_import.py
  pyproject.toml
  uv.lock
Due: httpx-import-check, primer3-import-check

add deptry to prevent cross-package imports (#433)
  .pre-commit-config.yaml
  README.md
  TODO.md
  packages/opencloning/pyproject.toml
  packages/opencloning/src/opencloning/endpoints/external_import.py
  pyproject.toml
  uv.lock
Due: httpx-import-check, primer3-import-check

simplify test fixtures
  packages/opencloning-db/src/opencloning_db/init_db.py
  packages/opencloning-db/tests/conftest.py
  packages/opencloning-db/tests/helpers.py
  packages/opencloning-db/tests/test_auth.py
  packages/opencloning-db/tests/test_lines.py
  packages/opencloning-db/tests/test_models.py
  packages/opencloning-db/tests/test_primers.py
  packages/opencloning-db/tests/test_sequence_samples.py
  packages/opencloning-db/tests/test_sequences.py
  packages/opencloning-db/tests/test_tags.py
  packages/opencloning-db/tests/test_workspace_deps.py
  packages/opencloning-db/tests/test_workspaces.py
Due: httpx-import-check, primer3-import-check

simplify test
  packages/opencloning-db/tests/test_init_db.py
Due: httpx-import-check

simplify test
  packages/opencloning-db/tests/conftest.py
  packages/opencloning-db/tests/test_models.py
Due: httpx-import-check

add deptry for opencloning-db
  .pre-commit-config.yaml
  README.md
  packages/opencloning-db/pyproject.toml
  uv.lock
Due: none

add latest pydna
  packages/opencloning-db/pyproject.toml
  packages/opencloning/pyproject.toml
  uv.lock
Due: none

compile bytecode with uv in docker
  docker/opencloning.Dockerfile
Due: none

update dockerfile to run tests
  .github/workflows/ci.yml
  docker/opencloning.Dockerfile
Due: none

run db tests as well in CI
  .github/workflows/ci.yml
Due: none

update CI
  .github/workflows/ci.yml
Due: none

Path conditions:
  nbstripout: any of: \.ipynb$, but not: tests/
  httpx-import-check: any of: \.py$, but not: (?x)^(
    tests/.*|
    scripts/.*|
)$

  primer3-import-check: any of: \.py$, but not: tests/
