Repository manulera/OpenCloning_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, httpx-import-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  # Hook to remove metadata changes from notebooks to avoid diff contamination
  - repo: local
    hooks:
      - id: nbstripout
        name: nbstripout with keep-output
        entry: |
          python -m nbstripout --keep-output $@
        language: system
        files: \.ipynb$
        exclude: tests/
  # Hook to ensure that httpx is only imported in the httpClient.py file
  - repo: local
    hooks:
      - id: httpx-import-check
        name: httpx-import-check
        entry: python scripts/check_httpx_imports.py
        language: system
        files: \.py$
        exclude: tests/

wip refactor snapgene
  scripts/update_catalogs.py
  src/opencloning/catalogs/__init__.py
  src/opencloning/catalogs/snapgene.yaml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
Due: httpx-import-check

reformat wekwikgene and snapgene
  scripts/update_catalogs.py
  src/opencloning/catalogs/snapgene.yaml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/endpoint_utils.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

simplify repository error handling
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_dna_functions.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

add support for OpenDNA collections
  scripts/update_catalogs.py
  src/opencloning/catalogs/__init__.py
  src/opencloning/catalogs/openDNA_collections.yaml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

update data model version
  poetry.lock
  pyproject.toml
  tests/test_files/homologous_recombination.json
Due: none

improve test coverage + better handling of errors when parsing files
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_input.py
Due: httpx-import-check

iGEM support and some fixes
  poetry.lock
  pyproject.toml
  scripts/update_catalogs.py
  src/opencloning/catalogs/__init__.py
  src/opencloning/catalogs/igem2024.yaml
  src/opencloning/catalogs/openDNA_collections.yaml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

iGEM support and some fixes
  tests/test_endpoints_other.py
Due: none

added euroscarg
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
Due: httpx-import-check

working on genbank endpoint
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
Due: httpx-import-check

improve error handling
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

working on genome region, exception handling makes tests fail
  docs/notebooks/.gitignore
  docs/notebooks/external_sequences.ipynb
  docs/notebooks/images/gly1_opencloning.png
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
  tests/test_ncbi_requests.py
Due: nbstripout, httpx-import-check

simplify http error handling
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/annotation.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/http_client.py
  src/opencloning/ncbi_requests.py
  tests/test_dna_functions.py
  tests/test_endpoints_annotation.py
  tests/test_endpoints_external_import.py
  tests/test_http_client.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

fix error handling + reduce reruns to 2
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

fix vulns suggested by copilot
  scripts/update_catalogs.py
  src/opencloning/catalogs/__init__.py
  tests/test_endpoints_no_input.py
Due: httpx-import-check

improve test coverage
  src/opencloning/ncbi_requests.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

improve test coverage
  src/opencloning/endpoints/external_import.py
  tests/test_dna_functions.py
Due: httpx-import-check

Use pydna classes for external imports and oligonucleotide hybridization (#378)
  .pre-commit-config.yaml
  README.md
  docs/notebooks/.gitignore
  docs/notebooks/external_sequences.ipynb
  docs/notebooks/images/gly1_opencloning.png
  poetry.lock
  pyproject.toml
  scripts/update_catalogs.py
  src/opencloning/catalogs/__init__.py
  src/opencloning/catalogs/igem2024.yaml
  src/opencloning/catalogs/openDNA_collections.yaml
  src/opencloning/catalogs/readme.txt
  src/opencloning/catalogs/seva.tsv
  src/opencloning/catalogs/snapgene.yaml
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/annotation.py
  src/opencloning/endpoints/assembly.py
  src/opencloning/endpoints/endpoint_utils.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/endpoints/no_assembly.py
  src/opencloning/endpoints/no_input.py
  src/opencloning/http_client.py
  src/opencloning/ncbi_requests.py
  tests/test_dna_functions.py
  tests/test_endpoints_annotation.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_input.py
  tests/test_endpoints_other.py
  tests/test_files/homologous_recombination.json
  tests/test_http_client.py
  tests/test_ncbi_requests.py
Due: nbstripout, httpx-import-check

handle errors in read_dseqrecord_from_json, related to https://github.com/biopython/biopython/issues/5116
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_dna_functions.py
Due: httpx-import-check

handle errors in read_dseqrecord_from_json, related to https://github.com/biopython/biopython/issues/5116 (#380)
  src/opencloning/dna_functions.py
  src/opencloning/endpoints/external_import.py
  tests/test_dna_functions.py
Due: httpx-import-check

fix bug in get_info_from_annotation
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

fix bug in get_info_from_annotation (#381)
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_ncbi_requests.py
Due: httpx-import-check

update pydna and fix genbank endpoint
  poetry.lock
  pyproject.toml
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

closes #382
  docs/notebooks/external_sequences.ipynb
  poetry.lock
  pyproject.toml
  src/opencloning/batch_cloning/pombe/pombe_clone.py
  src/opencloning/batch_cloning/pombe/pombe_summary.py
  src/opencloning/batch_cloning/ziqiang_et_al2024/ziqiang_et_al2024.json
  src/opencloning/endpoints/external_import.py
  src/opencloning/endpoints/no_input.py
  src/opencloning/ncbi_requests.py
  src/opencloning/request_examples.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_input.py
  tests/test_files/bug_fixing/digestion_spanning_origin.json
  tests/test_files/bug_fixing/example_error_assembly_origin_spanning_feature.json
  tests/test_files/bug_fixing/gateway_13bp_followed_by_digestion.json
  tests/test_files/bug_fixing/gateway_13bp_overlap.json
  tests/test_files/bug_fixing/gateway_correct.json
  tests/test_files/bug_fixing/homologous_recombination.json
  tests/test_files/bug_fixing/pcr_spanning_origin.json
  tests/test_files/homologous_recombination.json
  tests/test_ncbi_requests.py
  tests/test_stub_route.py
Due: nbstripout, httpx-import-check

enable setting of max length via env vars
  src/opencloning/app_settings.py
  src/opencloning/endpoints/external_import.py
  src/opencloning/ncbi_requests.py
  tests/test_endpoints_external_import.py
Due: httpx-import-check

fix pombe example
  src/opencloning/batch_cloning/pombe/pombe_clone.py
  src/opencloning/batch_cloning/pombe/pombe_summary.py
Due: httpx-import-check

fix annotation
  src/opencloning/batch_cloning/pombe/pombe_clone.py
Due: httpx-import-check

Adapting to data model changes (#383)
  docs/notebooks/external_sequences.ipynb
  poetry.lock
  pyproject.toml
  src/opencloning/app_settings.py
  src/opencloning/batch_cloning/pombe/pombe_clone.py
  src/opencloning/batch_cloning/pombe/pombe_summary.py
  src/opencloning/batch_cloning/ziqiang_et_al2024/ziqiang_et_al2024.json
  src/opencloning/endpoints/external_import.py
  src/opencloning/endpoints/no_input.py
  src/opencloning/ncbi_requests.py
  src/opencloning/request_examples.py
  tests/test_endpoints_external_import.py
  tests/test_endpoints_no_input.py
  tests/test_files/bug_fixing/digestion_spanning_origin.json
  tests/test_files/bug_fixing/example_error_assembly_origin_spanning_feature.json
  tests/test_files/bug_fixing/gateway_13bp_followed_by_digestion.json
  tests/test_files/bug_fixing/gateway_13bp_overlap.json
  tests/test_files/bug_fixing/gateway_correct.json
  tests/test_files/bug_fixing/homologous_recombination.json
  tests/test_files/bug_fixing/pcr_spanning_origin.json
  tests/test_files/homologous_recombination.json
  tests/test_ncbi_requests.py
  tests/test_stub_route.py
Due: nbstripout, httpx-import-check

fix compilation issues in latest alpine image
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

fix compilation issues in latest alpine image (#384)
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

hot fix for pydivsufsort not working on latest alpine
  Dockerfile
Due: none

hot fix for pydivsufsort not working on latest alpine (#385)
  Dockerfile
Due: none

add CI test to test in Docker image
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix docker build
  .github/workflows/ci.yml
Due: none

Add CI test to test in Docker image (#386)
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
Due: none

better organise testing
  .github/workflows/ci.yml
Due: none

better organise testing (#387)
  .github/workflows/ci.yml
Due: none

close #367
  src/opencloning/endpoints/assembly.py
  tests/test_endpoints_assembly.py
Due: httpx-import-check
